*{
    margin:0;
    padding:0;
}
body{
    background:#F1F1F1;
    font-size:24px;
    font-family: "Open Sans", Arial, sans-serif;
    color:#666;
}
h1{
    margin-bottom:10px;
    text-align: center;
}
.container{
    margin:50px auto;
    width: 400px;
}
#app{
    background:#fff;
}
input{
    width: 100%;
    font-size: inherit;
    padding: 16px 16px 16px 16px;
    border:1px solid #cdcdcd;
    color: inherit;
    box-sizing:border-box;
}
ul{
    list-style: outside none none;
    margin:0;
    padding:0;
    width:100%;
}
li{
    padding:16px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
.level{
    float:left;
    width:50px;
    overflow:hidden;
    text-overflow:ellipsis;
}
footer{
    font-size: 10px;
    text-align: center;
    margin-top:5px;
}